// *********************************** ------ ************************************** //
:root {
	/* COLORS */
	/* Accent */
	--blue: #18a0fb;
	--purple: #7b61ff;
	--hot-pink: #ff00ff;
	--green: #1bc47d;
	--red: #f24822;
	--yellow: #ffeb00;
	/* Basic foreground */
	--black: #000000;
	--black8: rgba(0, 0, 0, 0.8);
	--black8-opaque: #333333;
	--black3: rgba(0, 0, 0, 0.3);
	--black3-opaque: #b3b3b3;
	--white: #ffffff;
	--white8: rgba(255, 255, 255, 0.8);
	--white4: rgba(255, 255, 255, 0.4);
	/* Basic background */
	--grey: #f0f0f0;
	--silver: #e5e5e5;
	--hud: #222222;
	--toolbar: #2c2c2c;
	/* Special */
	--black1: rgba(0, 0, 0, 0.1);
	--blue3: rgba(24, 145, 251, 0.3);
	--purple4: rgba(123, 97, 255, 0.4);
	--hover-fill: rgba(0, 0, 0, 0.06);
	--selection-a: #daebf7;
	--selection-b: #edf5fa;
	--white2: rgba(255, 255, 255, 0.2);
	/* TYPOGRAPHY */
	/* Pos = positive applications (black on white) */
	/* Neg = negative applications (white on black) */
	/* Font stack */
	--font-stack: "Inter", sans-serif;
	/* Font sizes */
	--font-size-xsmall: 11px;
	--font-size-small: 12px;
	--font-size-large: 13px;
	--font-size-xlarge: 14px;
	/* Font weights */
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 600;
	/* Lineheight */
	--font-line-height: 16px;
	/* Use For xsmall, small font sizes */
	--font-line-height-large: 24px;
	/* Use For large, xlarge font sizes */
	/* Letterspacing */
	--font-letter-spacing-pos-xsmall: 0.005em;
	--font-letter-spacing-neg-xsmall: 0.01em;
	--font-letter-spacing-pos-small: 0;
	--font-letter-spacing-neg-small: 0.005em;
	--font-letter-spacing-pos-large: -0.0025em;
	--font-letter-spacing-neg-large: 0.0025em;
	--font-letter-spacing-pos-xlarge: -0.001em;
	--font-letter-spacing-neg-xlarge: -0.001em;
	/* BORDER RADIUS */
	--border-radius-small: 2px;
	--border-radius-med: 5px;
	--border-radius-large: 6px;
	/* SHADOWS */
	--shadow-hud: 0 5px 17px rgba(0, 0, 0, 0.2), 0 2px 7px rgba(0, 0, 0, 0.15);
	--shadow-floating-window: 0 2px 14px rgba(0, 0, 0, 0.15);
	/* SPACING + SIZING */
	--size-xxxsmall: 4px;
	--size-xxsmall: 8px;
	--size-xsmall: 16px;
	--size-small: 24px;
	--size-medium: 32px;
	--size-large: 40px;
	--size-xlarge: 48px;
	--size-xxlarge: 64px;
	--size-xxxlarge: 80px;
}

* {
	box-sizing: border-box;
	font-family: Inter, sans-serif;
}

body {
	font-family: "Inter", sans-serif;
}

.main-container {
	position: relative;
	height: 100%;
	color: var(--figma-color-bg-inverse);
	background-color: var(--figma-color-bg);
}

button {
	cursor: pointer;
}

.hide-overflow {
	overflow: hidden;
}
.heading {
	color: #ececf9;
	font-weight: bold;
	margin-bottom: 28px;
}

.description {
	margin-bottom: 4px;
	margin-top: 4px;
	color: #aaabc5 !important;
	font-size: 10px;
	padding-left: 2px;
}

.reset-icon {
	height: 12px !important;
	width: 12px !important;
}
.checkbox__box {
	cursor: pointer;
}

.main-ui-container {
	height: 100%;
}

.icon--visible {
	height: 14px;
	width: 14px;
	cursor: pointer;
}
.icon--hidden {
	height: 14px;
	width: 14px;
	cursor: pointer;
}

.link {
	color: var(--figma-color-bg-brand);
	text-decoration: "none";
	cursor: pointer;
}

.plus-image-button {
	background: red;
	padding: 4px;
	background-image: url(../assets/plus.png);
	background-position: center;
	background-repeat: no-repeat;
}

.plus-button {
	background-position: center;
	background-repeat: no-repeat;
	padding: 20px;
	border-radius: 50%;
	background-color: #aaabc4 !important;
	position: absolute;
	right: 12px;
	cursor: pointer;
	bottom: 40px;
	height: 24px;
	width: 24px;
	opacity: 0.6;
	z-index: 3;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--figma-color-border);
	border-radius: 6px;
	width: 4px !important;
}

.icon--visible {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='none' height='32' width='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000'%3E%3Cpath d='M16 18a2 2 0 100-4 2 2 0 000 4z'/%3E%3Cpath clip-rule='evenodd' d='M16 12a7.499 7.499 0 016.635 4A7.499 7.499 0 0116 20a7.499 7.499 0 01-6.635-4A7.499 7.499 0 0116 12zm0 7a6.495 6.495 0 01-5.478-3A6.495 6.495 0 0116 13c2.3 0 4.322 1.194 5.478 3A6.495 6.495 0 0116 19z' fill-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E");
}

.icon--hidden {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='none' height='32' width='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath clip-rule='evenodd' d='M21.509 15.801A8.033 8.033 0 0022.928 14h-1.184A6.992 6.992 0 0116 17a6.992 6.992 0 01-5.745-3H9.07a8.033 8.033 0 001.421 1.801l-1.595 1.595.708.707 1.657-1.657c.71.523 1.511.932 2.374 1.199l-.617 2.221.964.268.626-2.255a8.051 8.051 0 002.784 0l.626 2.255.964-.268-.617-2.221a7.971 7.971 0 002.374-1.2l1.658 1.658.707-.707z' fill='%23000' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.icon--trash {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='none' height='32' width='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000'%3E%3Cpath d='M14 18.5v-4h1v4zM17 18.5v-4h1v4z'/%3E%3Cpath clip-rule='evenodd' d='M19 10.5a2 2 0 00-2-2h-2a2 2 0 00-2 2h-3v1h1v10a2 2 0 002 2h6a2 2 0 002-2v-10h1v-1zm-4-1a1 1 0 00-1 1h4a1 1 0 00-1-1zm5 2h-8v10a1 1 0 001 1h6a1 1 0 001-1z' fill-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E");
}

.icon--plus {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='none' height='32' width='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5 15.5v-5h1v5h5v1h-5v5h-1v-5h-5v-1z' fill='%23000'/%3E%3C/svg%3E");
}

.icon--swap {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='none' height='32' width='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000'%3E%3Cpath d='M23 13.188l-1.175 1.468a5.5 5.5 0 00-10.003-2.219l.83.557a4.5 4.5 0 018.216 2.057l-2.2-1.467-.555.832 3.381 2.254 2.287-2.858zM9 17.188l.78.624 1.176-1.468.026.156a5.5 5.5 0 009.976 2.065v-.002l-.83-.557-.001.001a4.5 4.5 0 01-8.214-2.058l2.2 1.467.555-.832-3.382-2.254z'/%3E%3C/g%3E%3C/svg%3E");
}

.icon--blue {
	filter: invert(54%) sepia(16%) saturate(7499%) hue-rotate(179deg)
		brightness(98%) contrast(101%);
}

.icon--white {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(269deg)
		brightness(103%) contrast(104%);
}

.icon--visible {
	height: 14px !important;
	width: 14px !important;
	cursor: pointer;
}
.icon--hidden {
	height: 14px !important;
	width: 14px !important;
	cursor: pointer;
}

.button--primary {
	background-color: var(--figma-color-bg-brand);
}

.button--primary:enabled:active,
.button--primary:enabled:focus {
	border: 2px solid var(--black3);
}

.button--primary:disabled {
	background-color: var(--black3);
}

.button--primary-destructive {
	background-color: var(--red);
}

.button--primary-destructive:enabled:active,
.button--primary-destructive:enabled:focus {
	border: 2px solid var(--black3);
}

.button--primary-destructive:disabled {
	opacity: 0.3;
}

.css-1u94gzr {
	display: none;
}
.css-1abq8k5 {
	&:after {
		content: "▶";
		font-size: 12px;
		position: relative;
		top: 6px;
		left: 6px;
	}
}

// *********************************** ------ ************************************** //
