.transformation-container {
	.transformation-grid {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		padding: 0 6px;
		gap: 4px;
		height: 205px;
		overflow-y: auto;
	}

	.error-container {
		font-size: 15px;
		width: 100%;
		height: 205px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #f24822;
	}
}
