.transformations-drawer {
	background-color: var(--figma-color-bg);
	z-index: 4;
	max-height: 251px;
	min-width: 251px;
	position: absolute;
	width: 100%;
	bottom: 0;
	box-shadow: 0 0 2.5rem #00000040 !important;
	width: 96%;
	left: 6px;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 8px;
		gap: 8px;
		color: var(--figma-color-bg-inverse);
	}

	.main-heading {
		font-size: 12px;
		color: #aaabc5;
	}

	.close-icon {
		height: 14px;
		width: 14px;
		cursor: pointer;

		&:hover {
			background-color: rgba(170, 171, 196, 0.2);
		}
	}

	.tab {
		font-size: 10px;
		padding: 4px 6px;
		font-weight: 400;
		color: #aaabc5;
		opacity: 0.8;
	}

	.link-icon {
		stroke: var(--figma-color-bg-brand);
		width: 32px;
		height: 32px;
	}

	.tab-container {
		display: flex;
		/* background: rgb(50,54,72); */
		border-radius: 5px;
		color: #aaabc5;
		padding: 2px;
		/* border: 1px solid  #E5EAF2; */
		cursor: pointer;
	}
	.active-tab {
		border-bottom: 1px solid var(--figma-color-bg-brand);
		color: var(--figma-color-bg-brand);
		opacity: 1;
	}
}
