* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 2px 8px;
	max-width: 100%;
	gap: 32px;
}

.add-border {
	border-bottom: 1px solid var(--figma-color-border);
}

.info-box-revert {
	font-size: 8px;
	color: var(--figma-color-bg);
	height: 20px;
	background: var(--figma-color-bg-inverse);
	border-radius: 8px;
	position: absolute;
	top: 13px;
	right: 38px;
	padding: 1px 4px 4px 12px;

	&:after {
		content: "▼";
		color: var(--figma-color-bg-inverse);
		font-size: 12px;
		top: 14px;
		right: 10px;
		position: relative;
	}
}
.info-box {
	font-size: 8px;
	color: var(--figma-color-bg);
	height: 20px;
	background: var(--figma-color-bg-inverse);
	border-radius: 8px;
	position: absolute;
	top: 13px;
	right: 4px;
	padding: 1px 4px 4px 12px;

	&:after {
		content: "▼";
		color: var(--figma-color-bg-inverse);
		font-size: 12px;
		top: 14px;
		right: 10px;
		position: relative;
	}
}

.tab {
	color: var(--figma-color-bg-inverse);
	font-size: 12px;
	padding: 4px 6px;
	font-weight: 400;
	color: #aaabc5;
	opacity: 0.8;
}

.empty-tabbar {
	min-height: 38px;
}

.link-icon {
	stroke: var(--figma-color-bg-brand);
	width: 32px;
	height: 32px;
}

.symbol-container {
	display: flex;
	gap: 4px;
	align-items: center;
	justify-content: center;
}

.tab-container {
	display: flex;
	/* background: rgb(50,54,72); */
	border-radius: 5px;
	color: #aaabc5;
	padding: 2px;
	/* border: 1px solid  #E5EAF2; */
	cursor: pointer;
}
.active-tab {
	border-bottom: 2px solid var(--figma-color-bg-brand);
	color: var(--figma-color-bg-brand);
	opacity: 1;
}
